*{
    font-size: 18px;
    font-family:merriweather, sans-serif;
    list-style-type:none;
    text-decoration:none;
}

html{
    font-size: 62.5%;
}

@media screen and (min-width:640px) {

    .conteneur{
        display: flex;
        flex-direction:column-reverse;
        flex-wrap: wrap;
    }
}

body{
    display: inline-flex;
    width: 100%;
    overflow-x: hidden;
}

.conteneur{
    width: 100%;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    border-style:double;
    margin: 20px;
}

h2{
    color: blue;
}

div{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.colonne-1{
    flex-direction: column;
    flex: 20%;
}

.colonne-2{
    flex-direction: column;
    flex: 60%;
}

.puce li{
    list-style-type: square;
}

.atouts li{
    font:bold;
    margin-bottom: 0.5rem;
}

.colonne-1{
    background-color: gray;
}

.contact ul li{
    display: flex;
}



