/* common styles*/
*{
    font-size: 1.7rem;
    font-family:merriweather, sans-serif;
    list-style-type:none;
    text-decoration:none;
}

html{
    font-size: 62.5%;
}

body{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: rgb(182, 179, 179);
    color: black; 
}

/* End common styles */

/* media queries */
@media screen and (max-width:640px){
    *{
        font-size: 1.3rem;
    }
    
    .colonne-1{
        order: 2;
    }

    .colonne-2{
        order: 1;
    }

    table, tr, td{
        text-align: left;
        border-collapse: collapse;
        padding: 10px;
        display:block;
    }
}

@media screen and (max-width:1175px){
    *{
        font-size: 1.8rem;
    }
    
    .colonne-1{
        order: 2;
    }

    .colonne-2{
        order: 1;
    }
}
/* End media queries */

/* JS changes */
.darkmode{
    filter: invert();
}

.lightmode{
    background-color: rgb(182, 179, 179);
    color: black; 
}




/* End JS changes */

.conteneur{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    /*border-style:double;
    border-radius: 10px;*/
}

h2{
    color: blue;
}

section div{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin:10px;
}

.colonne-1{
    flex-direction: column;
    flex: 30%;
    flex-wrap: wrap;
}

.colonne-2{
    flex-direction: column;
    flex: 60%;
}

.puce li{
    list-style-type: square;
}

.atouts li{
    font:bold;
    margin-bottom: 0.5rem;
}

.colonne-1{
    background-color: gray;
}

.contact ul li{
    display: flex;
}

table, tr, td{
    text-align: left;
    border-collapse: collapse;
    padding: 10px;
    width: 100%;
}



/* Section styles */

header img{
    max-height:500px;
    width: 100%;
}

#menu a{
    margin-right: auto;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 15px;
}

#menu a:hover{
    margin-right: auto;
    background-color: brown;
    padding-left: 10%;
    padding-right: 10%;
}

nav div{
    display:flex;
    flex-direction: row;
    background-color:indianred;
    border-style: groove;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightcoral;
}

footer a{
    margin-top: 18px;
}

/* End section styles */

button{
    background-color: rgb(211, 210, 210);
    border-radius: 10px;
    height: 30px;
    width: 35px;
}

